*
!.github
!.github/**
!.gitignore
!src/
!src/**
!package.json
!scripts/
!scripts/**
!drizzle/
!drizzle/**
!drizzle.config.*
!README.md
!Dockerfile
!docker-compose.yml
!ecosystem.config.js
!ecosystem.config.cjs
bun.lock
bun.lockb
